<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png"> 
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body style="background-color:rgb(158, 199, 193);">
        <div class="main-content">
            {{>header}}   
            <p1><img class="portrait" src="/img/myImg.jpg"></p1>        
        </div>
        
        {{>footer}}
    </body>
</html>

